<div class="container">
<h1 class="text-center mt-5">Insira seu Nome e sua Mensagem</h1>
<form action="/post" method="post">
  <div class="form-group">
    <label for="nomeId">Nome:</label>
    <input type="text" class="form-control" name="nome" id="nomeId" placeholder="Digite seu nome...">
  </div>
  <div class="form-group">
    <label for="mensagemId">Sua Mensagem:</label>
    <textarea class="form-control" id="mensagemId" name="mensagem" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary mr-1">Enviar</button>
  <a href="/" class="btn btn-secondary">Voltar</a>
</form>
</div>
