<div class="container d-flex justify-content-center">
    <div class="card border-dark mb-3 mt-5" style="max-width: 30rem;">
        <div class="card-header">
            <h2 class="d-inline"><i class="fas fa-edit"></i></h2>
            <h2 class="d-inline">Formulário</h2>
        </div>
        <div class="card-body text-dark">
            <h5 class="card-title">Sistema de Formulário 1.0</h5>
            <p class="card-text">Bem vindo ao sistema de formaulários Node.js. Para continuar pressione o botão abaixo.</p>
            <a href="/form" class="btn btn-primary">Acessar Formulário</a>
            <a href="/mensagens" class="btn btn-primary">Ver Mensagens</a>
        </div>
    </div>
</div>
